<ion-view view-title="Get Started(flavors)">
  <ion-content>
    <div class='title-coaster'><span class='flavors-title'>Pick Some Flavors!</span></div>

    <div class='flavors-description'>
      <p class='p-description'>To help us better find beer you love, choose the flavors you normally like in food.</p>
    </div>

  <form name="flavorForm" ng-controller="FlavorController">
    <div class='flavor-container'>
      <span ng-repeat="flavor in allFlavors">
        <div class='flavor-choose-button' ngModel='flavor'>{{flavor[1]}}</div>
      </span>
    </div>


    <div class='flavors-custom-container'>
      <button ng-submit="submitFlavors()" class="button button-block button-positive" type="submit">Submit</button>
    </div>
    </form>
  </ion-content>
</ion-view>
