<ion-view view-title="CraftEd">
  <ion-content class='info-scroll-content'>
    <div class='info-coaster'>
        <h1 class="recs-title">THANKS!</h1>
    </div>
   <div class='rating-card beer-detailed-description'>
        <p class='rating_confirm-content'>We've refined your preferences based on your feedback.</p>
    </div>
    <!-- <button menu-toggle="left" class="button  button-icon icon ion-navicon"></button> -->

   <div class='rating-card beer-detailed-description'>
   <div ng-controller="InfoController">
      <div ng-repeat="info in allInfos">
        <h1 class='beer-detailed-title'>{{info.name}}</h1>
        <p>{{info.description}}</p>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
