<ion-view view-title='Login'>
  <ion-header-bar>
  </ion-header-bar>
  <ion-content>
    <form name="loginForm" ng-controller="UserController">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="password">
        </label>
        <div class='custom-button'>
          <label class="item">
            <button ng-click="login()" class="button button-block" type="submit">Log in</button>
          </label>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
