<ion-view view-title='Get Started'>
  <ion-header-bar>
  </ion-header-bar>
  <ion-content class="login-scroll-content">
  <div class="login-card">
    <form name="loginForm" ng-controller="UserController" novalidate>
      <div class="list">
        <label class="item item-input login-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="email" required>
        </label>
        <label class="item item-input login-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="password" required>
        </label>
        </div>
        <div class='custom-button'>
          <label class="item custom-button">
            <button ng-click="login()" class="button button-block" type="submit">LOGIN</button>
          </label>
        </div>
      </div>
    </form>
    </div>
  </ion-content>
</ion-view>
