<ion-view view-title="Recommendations" hide-back-button="true">
  <ion-content class='new-recs-scroll-content'>
    <div class='sliders-title-container'><h1 class='sliders-title'>{{title}}</h1></div>
    <!-- <button menu-toggle="left" class="button button-icon icon ion-navicon"></button> -->

    <div ng-controller="NewRecController">
        <div class='title-coaster'>
            <h1 class='recs-title'>WILD CARD</h1>
        </div>

        <div class='recs-title-container new-recs'>
            <p class='recs-body'>Here's your randomly selected beer flight.</p>
            <p class='recs-body'><b>Tap or slide left to rate...</b></p>
        </div>

        <div ng-repeat="newRec in allRecs">
            <div class='coasters-container'>
                <div class='coaster-bar'>
                    <!-- <span class='slide'><span class='ion-ios-arrow-left'></span>     Slide to Rate This Beer</span> -->
                    <div on-drag-left='onDrag({{newRec[0]}})' class='coaster blonde' id='{{newRec[0]}}' ng-click='selectBeer({{newRec[0]}})'>
                        <span class='coaster-beer-name'>{{newRec[1]}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </ion-content>
</ion-view>

<!-- YOUR IMPLEMENTATION -->
<!-- <button ng-click="selectBeer({{newRec[0]}})" class="button button-block button-positive">{{newRec[1]}}</button> -->
