<ion-view view-title="Recommendations">
  <ion-content class='old-recs-scroll-content'>
    <div ng-controller="OldLikeController">
        <div class='title-coaster'>
            <h1 class='recs-title'>SUGGESTED</h1>
        </div>

        <div class='recs-title-container'>
            <h1 class='recs-body-title'>Here's your robot curated beer flight.</h1>
            <!-- <h1 class='recs-body-title'>Heres a list of beers you might like</h1> -->
            <p class='recs-body'><b>Try a beer listed on this page!</b></p>
            <p class='recs-body'>Tap or slide left to rate...</p>
        </div>
        <div ng-repeat="oldRec in allRecs">
            <div class='coasters-container'>
                <div class='coaster-bar'>
                    <div class='coaster blonde' on-drag-left="onDrag({{oldRec[0]}})" id='{{oldRec[0]}}' ng-click='selectBeer({{oldRec[0]}})'>
                        <span class='coaster-beer-name'>{{oldRec[1]}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>


<!-- YOUR IMPLEMENTATION -->
<button ng-click="selectBeer({{oldRec[0]}})" class="button button-block button-positive">{{oldRec[1]}}</button>
