<ion-view view-title="CraftEd" hide-back-button="true">
  <ion-content class='profile-scroll-content'>
    <div class="title-coaster"><span class='profile-title'>PROFILE</span></div>

    <div class='click-container'>
      <div class='recommendation-button-container'>
      <h1 class='click-title'>Click for Recommendations</h1>
       <a href="#/app/old_likes" class="button recommendation-button">Recommend a Beer I'll Like!</a>
       <a href="#/app/new_recs" class="button recommendation-button">Recommend a Random Beer!</a>
      </div>
    </div>
    <div class='seem-to-preference-container'>
      <div class='flavor-wheel-legend'>Legend:</div>
      <div class='flavor-wheel'>
        <div fw-visualization></div>
      </div>
    </div>
    <!-- <div class='seem-to-preference-container'>
      <p class='seem-to-preference-body'>Just ignore this card for now, not MVP</p>
      <h1 class='seem-to-preference-title'>Preferences:</h1>
      <p class='seem-to-preference-body'>Porters, Dark Ales</p>
      <h1 class='seem-to-preference-title'>Dislikes:</h1>
      <p class='seem-to-preference-body'>IPA</p>
    </div> -->
  </ion-content>
</ion-view>
