<ion-view view-title="CraftEd" hide-back-button="true">
  <ion-content ng-controller="ProfileController" class='profile-scroll-content'>
    <div class="title-coaster"><span class='profile-title'>PROFILE</span></div>
    <div class='click-container'>
      <div class='recommendation-button-container'>
      <h1 class='click-title'>Let's drink!</h1>
       <a href="#/app/old_likes" class="button recommendation-button">Recommend a Beer I'll Like</a>
       <a href="#/app/new_recs" class="button recommendation-button">Recommend a Random Beer</a>
      </div>
    </div>

      <div class='flavor-wheel'>
          <div fw-visualization class='svg-wheel'>
          <div class='seem-to-preference-container'>
             Red
            <label class="ion-thumbsdown thumbs-icon down"></label>
            | Green  <label class="ion-thumbsup thumbs-icon up"></label>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
