<ion-view view-title="CraftEd">
  <ion-content class='rating-scroll-content'>
    <!-- <button menu-toggle="left" class="button button-icon icon ion-navicon"></button> -->
    <form name="ratingForm" ng-controller="RatingController">
      <div class="title-coaster">
        <div class='rating-title'>{{allTags.mainType.name}}</div>
      </div>

       <div class='rating-card animate-show' ng-show="filter=='no'">
        <h1 class='rating-text animate-show'>Give this beer a chance!</h1>
        <p class='rating-text'>Let's rate this beer after you've tried some of it.</p>
      </div>

      <div class='rating-card beer-detailed-description'>
        <h1 class='rating-text'>Did you get to take a sip of <b>{{allTags.mainType.name}}</b>?</h1>
        <div class='sipped-container' ng-hide="filter=='yes'">
          <label class='drank' for='drink-yes'>Yep!</label>
          <input type='radio' name='drink' id='drink-yes' value='yes' ng-model='filter'>
          <label class='drank' for='drink-no'>Not Yet.</label>
          <input type='radio' name='drink' id='drink-no' value='no' ng-model='filter'>
        </div>
        <h1 class='rating-text yep animate-show' ng-show="filter=='yes'">Yep!</h1>
      </div>
     

      <div class='beer-rating-card animate-show' ng-show="filter=='yes'">
        <p class='rating-text'>What did you think about it?</p>

        <div class='beer-chart'>
          <span class="beerRate">
            <input id="rating3" type="radio" ng-model="rating" name="rating" class='rating' value='3'>
            <label class='icon ion-ios-pint-outline' for="rating3"></label>

            <input id="rating2" type="radio" ng-model="rating" name="rating" class='rating' value="2">
            <label class='icon ion-ios-pint-outline' for="rating2"></label>

            <input id="rating1" type="radio" ng-model="rating" name="rating" class='rating' value="1">
            <label class='icon ion-ios-pint-outline' for="rating1"></label>
          </span>
        </div>

      </div>

    <div class='rating-card animate-show' ng-show="filter=='yes'">
      <p class='rating-text'><b>Any Specific Beer Types?</b></p>
      <p class='rating-text'>(Might be on your menu)</p>
      <div class='tag-container'>
      <label id="tag-label-{{tag.id}}" ng-repeat="tag in allTags.associatedTypes" class='tag'>
        <input
        type="checkbox"
        id='tag-{{tag.id}}'
        class='tag-select-box'
        value="{{tag.id}}"
        ng-checked="selection.indexOf(tag) > -1"
        ng-click="toggleSelection(tag)">
        {{tag.name}}
      </label>
    </div>
  </div>

<!--       <div class='rating-card'>
        <p class='rating-text'>Add a comment</p>
        <textarea class='rating-comment-box' ng-model="comment" cols="40" rows="2"></textarea>
      </div> -->

    <div class='submit-container'>
      <button ng-click="submitRating()" class="button button-block rating-submit-button animate-show" type="submit" ng-show="filter=='yes'">Submit</button>
    </div>
    </form>
    </div>
  </ion-content>
</ion-view>
