<ion-view view-title="Rating">
  <ion-content>
    <h1 class="title">Rate these Beers</h1>
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    <div>
      <h3>Tags</h3>
    </div>

    <form ng-controller="RatingController" ng-submit="submitRating()">
    <select ng-model="rating" multiple>
      <option ng-repeat="rating in allRatings" value="{{rating[0]}}">{{rating[1]}}</option>
    </select>
    <button class="button button-block button-positive" type="submit">Submit</button>
    </form>

  </ion-content>
</ion-view>
