<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Register</h1>
  </ion-header-bar>
  <ion-content>
    <form name="registerForm">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="password">
        </label>
        <label class="item item-input">
          <span class="input-label">Confirm Password</span>
          <input type="password" ng-model="passwordConfirm">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
