@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400|Sanchez';
// font-family: 'Sanchez', serif;
// font-family: 'Open Sans', sans-serif;
$sanchez: 'Sanchez', serif;
$opensans: 'Open Sans', sans-serif;
$blonde: #ffd966;

$turq: #4EEAD2;
$pastel-red: #F76264;
$yellow: #EBE955;
$dullgray: #88B6B6;
$green: #5A9363;

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin vertical-snap($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin active{
  &:active{
    border: none;
    @include box-shadow(1px, 1px, 1px, #e8e8e8, true);
  }
}

@mixin background-adjust($color) {
  @if (lightness($color) > 50) {
    color: #222222; 
  } @else {
    color: #ffffff;
  }
}

@mixin border-radius($value){
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}

.scroll-content{
    font-family: $opensans;
    font-weight: 400;
    line-height: 1.5;
}

.title.title-center.header-item{
    font-family: $sanchez;
    font-size: 1.5em;
    color: #222222;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar{
  background: white;
}