@mixin shadow{
    -webkit-box-shadow: 0 0 1px black;
    -moz-box-shadow: 0 0 1px black;
    box-shadow: 0 0 1px black;
}

@mixin flex-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

@mixin flex-bar{
    margin-left: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 15%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap; 
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    -webkit-align-items: baseline; 
    align-items: baseline;
    flex-direction: row;
}

.recs-title-container{
    display: block;
    text-align: left;
    font-size: 1.1em;
    background-color: white;
    padding: 15px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 280px;
    line-height: 1.5;
    @include border-radius(4px);
    @include box-shadow(0px, 2px, 0px, darken(#3176AB, 30%));
}

.new-recs{
    @include box-shadow(0px, 2px, 0px, darken($dullgray, 30%));
}

.recs-title{
    font-family: $sanchez;
    margin: 0;
    font-size: 1.2em;
    color: white;
    @include vertical-snap();
}

.recs-body-title{
    font-size: 1.3em;
    line-height: 1.5;
    font-family: $sanchez;
    text-align: left;
}

.recs-body{
    font-size: 1em;
    line-height: 1.5;
}

h1.rating-text{
    font-family: $sanchez;
    font-size: 1.6em;
}

.rating-text{
    font-size: 1em;
}

.new-recs-scroll-content{
    background-color: $dullgray;
}

.old-recs-scroll-content{
    background-color: #3176AB;
}

.coasters-container{
    display: block;
    margin: 0 auto;
    width: 140px;
    // @include flex-container;
}

.coaster-bar{
    padding: 20px;
    background-color: #FFC107;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    @include box-shadow(0px, 2px, 0px, darken(#FFC107, 30%));
    @include border-radius(4px);
}

.slide{
   font-size: 0.8em;
   color: white;
   align-items: baseline;
    -webkit-background-clip: text;
}


.coaster{
    position: relative;
    // margin-left: 10px;
    width: 100px;
    height: 100px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    @include border-radius(50%);
}

.sliders-title-container{
    text-align: center;
    margin: 10px;
}

.sliders-title{
    font-family: $sanchez;
    font-size: 1.2em;
}

.coaster-beer-name{
    display: inline-block;
    font-size: 0.85em;
    text-transform: uppercase;
    font-family: $sanchez;
    font-weight: bold;
    @include vertical-snap();
}

.coaster.blonde{
    background-color: black;
    @include background-adjust(black);
}

// .coaster.light-brown{
//     background-color: $lightBrown;
//     @include background-adjust($lightBrown);
// }

// .coaster.dark-brown{
//     background-color: $darkBrown;
//     @include background-adjust($darkBrown);
// }

// .coaster.darker-brown{
//     background-color: $darkerBrown;
//     @include background-adjust($darkerBrown);
// }

// .coaster.black{
//     background-color: $black;
//     @include background-adjust($black);
// }
