.item{
    border: none;
    margin: 10px;
}

.item.item-input{
    margin: 5px;
    border-bottom: 1px solid #e8e8e8;
}

.button.button-block{
    min-width: 120px;
    max-width: 120px;
    background-color: black;
    color: white;
    margin: 0 auto;
    font-family: $sanchez;
    @include box-shadow(1px, 1px, 1px, #e8e8e8);
    @include border-radius(8px);
}

.login-scroll-content{
    background-color: #FFCD00;
    // background-image: url('background.jpg');
}

.custom-button{
    background-color: white;
    margin: 5px;
}

.input-label.login-input{
    color: black;
    font-family: $sanchez;
    font-size: 1em;
}

.login-card{
    display: block;
    background-color: white;
    border: 1px solid white;
    padding: 5px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 300px;
    line-height: 1.1;
    @include border-radius(5px);
    @include box-shadow(0px, 2px, 0px, darken(#FFCD00, 25%));
}

.input-label{
    font-family: $sanchez;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]
{
    font-family: $sanchez;
    font-size: 1em;
}
