.flavor-wheel{
    text-align: center;
}

.flavor-wheel-legend{
    text-align: center;
    display: block;
    background-color: white;
    border: 1px solid white;
    padding: 20px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 300px;
    @include border-radius(8px);
}

.legend-title{
    font-size: 1.5em;
    font-family: $sanchez;
    line-height: 1.1;
}

.legend-body{
    font-size: 1em;
    font-family: $opensans;
    line-height: 1.5;
}

.thumbs-icon{
    font-size: 2em;
}

.up{
    color: $green;
}

.down{
    color: $pastel-red;
}

.button.recommendation-button{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: $sanchez;
    padding: 10px;
    padding: 10px;
    background-color: $pastel-red;
    border: 1px solid $pastel-red;
    max-width: 280px;
    color: white;
    // @include box-shadow(1px, 1px, 1px, #d6d6d6);
    @include border-radius(8px);
}

.recommendation-button-container{
    margin-top: 15px;
    margin-bottom: 15px;
}

.profile-title{
    font-family: $sanchez;
    font-size: 1.5em;
    color: white;
    text-align: center;
    display: inline-block;
    @include vertical-snap();
}

.seem-to-preference-container{
    display: block;
    background-color: white;
    border: 1px solid white;
    padding: 20px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 300px;
    @include border-radius(8px);
}

.click-container{
    display: block;
    background-color: white;
    border: 1px solid white;
    padding: 15px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 300px;
    @include border-radius(8px);
}

.click-title{
    font-family: $sanchez;
    color: black;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}


.seem-to-preference-title{
    font-family: $sanchez;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.profile-scroll-content{
    background-color: #FFD54F;
}

path {
  stroke: #FFD54F;
  fill-rule: evenodd;
}

text {
  font-family: $opensans;
  font-size: 10px;
}

.beer-type-2{
  opacity: 0;
}