.rating_confirm-title{
    display: inline-block;
    font-family: $sanchez;
    font-size: 2em;
    text-align: center;
}

.confirm-title-holder{
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    max-width: 300px;
}

.rating-card.beer-detailed-description{
    text-align: left;
}

.rating_confirm-content{
    font-size: 1.3em;
}

.beer-detailed-title{
    font-family: $sanchez;
    font-size: 2em;
    text-align: left;
    line-height: 1.5;
}