.rating-scroll-content{
  background-color: teal;
}

.rating-title{
    font-family: $sanchez;
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
    line-height: 1.5;
    text-align: center;
    display: inline-block;
    @include vertical-snap();
}

.rating-card{
    display: block;
    background-color: white;
    border: 1px solid white;
    padding: 5%;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    max-width: 300px;
    @include border-radius(8px);
    @include box-shadow(0px, 2px, 0px, darken(teal, 30%));
}

.beer-rating-card{
    background-color: white;
    padding: 15px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
    line-height: 1.5;
    min-height: 180px;
    text-align: center;
    max-width: 300px;
    @include border-radius(8px);
    @include box-shadow(0px, 2px, 0px, darken(teal, 30%));
}

.starRating{
    margin-left: 20%;
}

.submit-container{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 5%;
}

.custom-submit{
    display: block;
    margin: 0 auto;
    border: 1px solid $blonde;
    background-color: $blonde;
    max-width: 300px;
    @include border-radius(8px);
}

.rating-text{
    text-align: center;
}

.rating-comment-box{
  display: block;
  padding: 10px;
  margin: 0 auto;
  max-width: 200px;
  border: 1px solid #e8e8e8;
  background: transparent;
  resize: none;
  @include border-radius(8px);
}

.beer-chart{
    display: block;
}

.tag{
    text-align: center;
    font-family: $sanchez;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    font-size: 0.8em;
    color: #d6d6d6;
    border: 1px solid #d6d6d6;
    @include border-radius(8px);
}

.tag-container{
  text-align: left;
  padding-left: 10px;
}

.tag-select-box{
  display: none;
}

.selected{
    color: #222222;
    font-family: $sanchez;
    font-weight: bold;
}

// Rating CSS demonstrations

.beerRate:not(old){
    display: inline-block;
    height: 1.5em;
    vertical-align: bottom;
    padding-top: 30px;
}

.beerRate:not(old) > label{
  display: block;
  float: right;
  width: 5em;
  position: relative;
  background: url('unclicked.png');
  background-size : contain;
}

.beerRate:not(old) > label:before{
  content: '';
  display: block;
  width: 5em;
  height: 5em;
  background: url('clicked.png');
  background-size: contain;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.beerRate:not(old) > label:hover:before,
.beerRate:not(old) > label:hover ~ label:before,
.beerRate:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

.beerRate:not(old) > input{
  margin-right: -50px;
  opacity: 0;
  overflow: hidden;
}

.button.button-block.rating-submit-button{
    min-width: 50%;
    max-width: 60%;
    color: white;
    background-color: black;
    margin: 0 auto;
    font-family: $sanchez;
    @include box-shadow(1px, 1px, 0px, #222);
    @include border-radius(8px);
}

.animate-show.ng-hide-remove {
  transition: all linear 0.4s;
}

.animate-show.ng-hide {
  opacity: 0;
}

.animate-show.ng-show-add {
  transition: all linear 0.4s;
}

.animate-show.ng-show {
  opacity: 1;
}

.sipped-container > input{
  display: none;
  opacity: 0;
}

.sipped-container > label{
  &:active {
    @include box-shadow(0px, 2px, 0px, darken($pastel-red, 30%), $inset: true);
  }
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  font-family: $sanchez;
  font-size: 1.2em;
  max-width: 200px;
  color: black;
  background-color: $pastel-red;
  @include box-shadow(0px, 2px, 0px, darken($pastel-red, 30%));
  @include border-radius(8px);
}

.yep{
  display: block;
  text-align: center;
  margin: 0 auto;
  margin: 20px;
  font-size: 1.2em;
  @include border-radius(8px);
}