.rating_confirm-title{
    display: inline-block;
    font-family: $sanchez;
    font-size: 2em;
    text-align: center;
}

.confirm-title-holder{
    display: block;
    text-align: center;
    margin-top: 5%;
}

.rating-card.beer-detailed-description{
    text-align: left;
}

.beer-detailed-title{
    font-family: $sanchez;
    font-size: 2em;
    text-align: center;
    
}