.rating_confirm-title{
    display: inline-block;
    font-family: $sanchez;
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}

.confirm-title-holder{
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    max-width: 300px;
}

.rating-card.beer-detailed-description{
    text-align: left;
    @include box-shadow(0px, 2px, 0px, darken($yellow, 30%));
}

.rating_confirm-content{
    font-size: 1em;
}

.beer-detailed-title{
    font-family: $sanchez;
    font-size: 2em;
    text-align: left;
    line-height: 1.5;
}

.info-scroll-content{
    background-color: $yellow;
}

.info-coaster{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: black;
    width: 150px;
    height: 150px;
    color: white;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    @include border-radius(50%);
}