.title{
    color: #222222;
}

.title.burger-menu-title{
    font-family: $sanchez;
    font-weight: bold;
    font-size: 1.5em;
}

.item-complex .item-content, .item-radio .item-content{

}

.bar-stable.menu-bar{
    background: white;
  border-bottom: 1px solid #e8e8e8;
}

.menu-item-content{
    font-family: $sanchez;
    text-transform: uppercase;
    font-size: 1em;
    text-align: left;
    padding-left: 20px;
}

.logout-button{
    color: #D84315;
}